.page-title {
	background-color: brown;
	margin-top: 50px;
	margin-bottom: 15px;
}
.page-title-text {
	font-family: 'Times New Roman';
	font-size: 40px;
	font-style: italic;
	color: white
}
.container {
	margin-bottom: 30px;
}
.wrapping {
	position: relative;
}
.wrapped {
	position: absolute;
	clip: rect(50px,100px,100px,50px);
}
.status_t tr th,
.status_t tr td {
	border: 2px #808080 solid;
}
.status_t tr th {
	width: 125px;
}